//
//  Secret.xcconfig
//  Divary
//
//  Created by 바견규 on 7/7/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_URL = ""
GOOGLE_CLIENT_ID = 135144355637-c37r6r9pagsjulvhiu0rip0ru3mp2igj.apps.googleusercontent.com
GOOGLE_URL_SCHEME = com.googleusercontent.apps.135144355637-c37r6r9pagsjulvhiu0rip0ru3mp2igj
